/* TODO Your CSS here. */

#container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:1000px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    
}

.card{
    border: 1px solid lightgray;
    box-shadow: 5px 5px 3px darkgrey;
    display:flex;
    flex-direction: column;
    justify-content: start;

    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}


 @keyframes fadeInAnimation {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}





.card-image{
    width:100%;
    object-fit: cover;
}

.card-body{
    margin: 0px 5px 5px 5px;

}

@media (max-width :1000px){
    #container{
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}    

@media (max-width :800px){
    #container{
        grid-template-columns: 1fr;
    }
}